/* styles.css */

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(135, 237, 255);
}

/* Header Styling */
header {
  background-color: #333333a9;
  color: #fff;
  padding: 10px 20px;
  
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: rgb(208, 239, 12);
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #555;
}

/* Main Content Styling */
main {
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ba0c54;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* styles.css */

/* Main Content Section Styling */
.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content-section {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 20px;
}

.content-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.content-section p {
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
}

.content-section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.options-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.option-item {
  flex: 1 1 300px;
  padding: 15px;
  background-color: #e0e0e0;
  border-radius: 5px;
  position: relative;
}

.option-item h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #961fc9;
}

.option-item p {
  font-size: 14px;
  color: #555555;
}


/* styles.css */

/* Additional Styles for Customers Page */
/* .customer-options {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.customer-options .option-item {
  flex: 1 1 300px;
  padding: 15px;
  background-color: #e0e0e0;
  border-radius: 5px;
  position: relative;
} */

/* styles.css */

/* Main Content Section Styling */
.content-section {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 20px;
}

.content-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color:#1fbec9 ;
}

.content-section p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.content-section ul {
  list-style-type: disc;
  padding-left:20px;
}

/* Footer Styling */
footer p {
  background-color: #333333;
  color: rgb(208, 239, 12);
  padding: 10px 20px;
  text-align: center;
}


/* Responsive Styles */
/* @media screen and (max-width: 768px) {
  .main {
      grid-template-columns: 1fr;
  }

  .option-item {
      flex-basis: 100%;
  }

  

} */




/* Responsive Styles */
@media screen and (max-width: 768px) {
  nav ul {
      flex-direction: column;
      text-align: center;
  }

  nav ul li {
      margin-bottom: 10px;
  }
}
